.u-center-text {text-align: center;}

.u-margin-bottom-big {margin-bottom: 8rem;}
.u-matgin-buttom-medium {margin-bottom: 4rem;}
.u-matgin-buttom-small {margin-bottom: 1.5rem;}

.u-matgin-top-huge {margin-top: 10rem;}
.u-matgin-top-big {margin-top: 8rem;}
